<div class="table-responsive" id="main-table">
  <table class="table table-bordered table-hover">
    <thead>
      <tr id="student_info_header">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Grade Level</th>
        <th>Average</th>
        <% @course.assignments.each do |assignment| %>
          <th><%= link_to assignment.name, course_assignment_path(@course.id, assignment.id), class: "qa-assignment-#{assignment.id}", remote: true %><p class="course-assignment-buttons" id="assignment-buttons<%= j assignment.id.to_s %>"></p></th>
        <% end %>
      </tr>
    </thead>


  </table>
</div>
