<% if notice %>
  <p class='alert alert-success'><%= notice %></p>
<% end %>
<% if alert %>
  <p class='alert alert-danger'><%= alert %></p>
<% end %>
<% provide(:title, 'Courses') %>

<h2 class='space-bottom qa-courses-header'>Courses</h2>

<%= render 'courses_table' %>

<%= link_to 'Create New Course', new_course_path, class: 'btn btn-primary space-top-bottom qa-create-course', id: 'create-course', remote: true %>

<div id='course-form'></div>
