<% if notice %>
  <p class='alert alert-success'><%= notice %></p>
<% end %>
<% if alert %>
  <p class='alert alert-danger'><%= alert %></p>
<% end %>
<% provide(:title, 'Courses') %>

<h2 class='space-bottom' id='qa-gradebook'>Gradebook</h2>
<h4 class='space-bottom'>Current Courses</h4>

<%= render 'courses_table' %>

<div id='course_form'></div>

<%#<%= link_to 'Create New Course', new_course_path, class: 'btn btn-primary space-top', id: 'create_course', remote: true %><br />
