/*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";


html {
  height: 100%;
}

body {
  padding-top: 5em;
  height: 100%;
}

.navbar-brand {
  font-size: 160%;
  font-family: Impact, Charcoal, sans-serif;
  padding: .7em;
}

.jumbotron {
  text-align: center;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto 0em auto;
  padding: 0 5% 15% 5%;
}

.container {
  padding-right: 2%;
  padding-left: 2%;
}

#footer {
  height: 3em;
  background-color: #eeeeee;
  text-align: center;
  font-size: .75em;
  padding-top: .7em;
}

.dropdown {
  float: right;
}

h3 {
  margin-top: 0;
  padding-top: 0;
}

.space-top-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.space-top {
  margin-top: 20px;
}

.space-bottom {
  margin-bottom: 20px;
}

.space-left {
  margin-left: 15px;
}

.form-control-inline {
  min-width: 20em;
  width: auto;
  display: inline;
}

#help-request {
  height: 20em;
  width: 70%;
}

.none {
  display: none;
}
